.View {
  $box_size: 30px;

  svg {
    width: 100%;
  }

  .crossword-row {
    user-select: none;
  }

  .crossword-letter {
    display: inline-block;
    border: 1px solid black;
    width: $box_size;
    height: $box_size;
    vertical-align: center;
  }
}
