.Generator {
  margin: 0 auto;
  width: 500px;

  .generator-header {
    display: flex;
    justify-content: space-evenly;

    .left, .right {
      display: flex;
      text-align: left;
    }
  }

  .left {
    position: relative;
    text-align: left;
    left: 0;
  }

  .right {
    position: relative;
    text-align: right;
    right: 0;
  }

  form {
    position: inherit;
    margin-top: 20px;
  }
}
